// Global Color Themes

$colors: ( nevyBlueTheme: #030451, orangeTheme: #F28500, gray: #6c757d, gray-dark: #343a40, secondary: #6c757d, primary: #007bff, success: #28a745, info: #17a2b8, warning: #ffc107, danger: #dc3545, dark: #35424a, silk: #7D7D7D )

// Color function
@function color($color-name) 
    @return map-get($colors , $color-name)

// Page Sizes

// Breakpoints: xs: 0,  sm: 576px; md: 768px; lg: 992px; xl: 1200px; 

// Extra small    
$desktop_xm: 0px

@mixin desktop_xm
    @media (min-width: #{$desktop_xm}) 
        @content
    
// Small
$desktop_sm: 576px

@mixin desktop_sm
    @media (min-width: #{$desktop_sm}) 
        @content
    
// Medium
$desktop: 768px

@mixin desktop
    @media (min-width: #{$desktop}) 
        @content
    
// Large
$desktop_lg: 992px

@mixin desktop_lg
    @media (min-width: #{$desktop_lg}) 
        @content
    
// Extra large
$desktop_xl: 1200px

@mixin desktop_xl
    @media (min-width: #{$desktop_xl}) 
        @content
    


// ------------------------------------------------

// Title Section
#title_section
    font-size: 13px
    background-color: transparent
    border-radius: 10px
    padding: 0
    
    h4
        color: color(nevyBlueTheme)
        font-size: 14px
        font-weight: bold
        text-transform: uppercase
    
    p
        color: color(silk)
        font-family: Montserrat
        font-size: 10px
        margin: 0
// Header line
#header_line
    color: color(silk)
    margin: .5em 0 .5em 0







#teams_article

    #info_section
        margin: 0 0 1em 0

        h4
            font-family: Montserrat
            font-size: 14px
            margin: auto 1em auto 1em

            span
                font-family: Montserrat
                font-size: 14px
                color: color(orangeTheme)
                text-transform: capitalize
                margin: 0 2px 0 2px


    #card_section

        .card
            border: none
            background-color: white
            font-family: Montserrat
            border-radius: 10px
            max-width: 20em
            min-width: 20em
            margin: 0 1em 1em 0 
            cursor: pointer
            .card-body
                font-family: Montserrat
                font-size: 12px

                .card-img
                    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1)
                    width: fit-content
                    font-family: Montserrat
                    img
                        width: 5rem

                #teamName
                    margin: .5em 0 0 0
                    font-size: 11px
                    font-family: Montserrat
                    color: color(nevyBlueTheme)
                    text-transform: uppercase
                #teamNumOfTask
                    font-size: 10px
                    font-family: Montserrat
                    color: gray

                    span
                        color: color(orangeTheme)

                .progress-head
                    font-size: 10px
                    font-family: Montserrat
                    margin: .5em 1em .5em 1em
                    text-align: right

                .progress
                    font-size: 12px
                    height: 2px
                    margin: 0 0 .3em 0

                    .progress-bar            
                        font-size: 12px
                        
                #rateWarp
                        font-size: 10px
                        color: gray

                        .rateColor
                            color: color(orangeTheme)

                #timeLineDiv
                    width: 100%

                    h4
                        font-size: 10px
                        color: color(secondary)

                        span
                            font-size: 10px
                            font-family: Montserrat
                    

            &:hover
                box-shadow: 0 5px 5px rgba(0, 0, 0, .3)








// detail article

#detail_article

    #info_section
        margin: 0 0 1em 0

        h4
            font-family: Montserrat
            font-size: 14px
            margin: auto 1em auto 9

            
            fa
                color: color(nevyBlueTheme)
                cursor: pointer
                margin: 0 1em 0 0

            span
                font-family: Montserrat
                font-size: 14px
                color: color(orangeTheme)
                text-transform: capitalize
                margin: 0 2px 0 2px

    // update section
    #update_section
        box-shadow: 0 0 5px rgba(0,0,0,.3)
        height: fit-content
        padding: 1em

        #update_section_title

            h4
                font-family: Montserrat
                font-size: 12px
                color: color(silk)
                font-weight: bold

                span
                    font-family: Montserrat
                    font-size: 12px
                    font-weight: bold
                    text-transform: capitalize
                    margin: 0 .4em 0 0.4em


        .list-group

            .done
                text-decoration: line-through !important
                color: color(info) !important         

            .list-group-item
                margin: .5em 0 .5em 0
                padding: .5em
                font-family: Montserrat
                font-size: 10px
                text-transform: capitalize
                border: none
                background-color: white
                cursor: pointer

                &:hover
                    box-shadow: 0 0 5px rgba(0,0,0,.3)
        
        #update_button
            text-align: center
            padding: .5em

            .btn
                font-family: Montserrat
                font-size: 10px


        .progress-head
            font-size: 10px
            font-family: Montserrat
            margin: .5em 1em .5em 1em
            text-align: right
            
        .progress
                font-size: 12px
                height: 2px
                margin: 0 0 .3em 0

                .progress-bar            
                    font-size: 12px



    #detail_section
        box-shadow: 0 0 5px rgba(0,0,0,.3)
        height: fit-content
        padding: 1em

        #detail_section_title

            h4
                font-family: Montserrat
                font-size: 12px
                color: color(silk)
                font-weight: bold
        
        .detail_section_item

            h4
                font-family: Montserrat
                font-size: 10px
                text-transform: capitalize
                color: color(silk)

                span
                    font-family: Montserrat
                    font-size: 10px
                    color: color(orangeTheme)
                    margin: 0 0 0 .2em

        #detail_section_tasks
            h4
                font-family: Montserrat
                font-size: 10px
                text-transform: capitalize
                margin: 1em 0 0 0
                color: color(silk)
                

        .list-group

            .done
                text-decoration: line-through !important
                color: color(info) !important

            .list-group-item
                border: none
                background-color: white
                padding: 0

                .div_wrap
                    padding: 5px    
                    
                    h4
                        margin: auto 0 auto 0
                        font-size: 10px
                        font-family: Montserrat

                    h4:first-letter
                        text-transform: capitalize


        .progress-head
            font-size: 10px
            font-family: Montserrat
            margin: .5em 1em .5em 1em
            
        .progress
                font-size: 12px
                height: 2px
                margin: 0 0 .3em 0

                .progress-bar            
                    font-size: 12px
            



