<!-- Title -->
<section id="title_section">
    <h4>Editorial</h4>
    <p>Create New Project, Tasks and Teams </p>
</section>





<!-- div -->
<div class="row body_section">
<article class="col-md-6">





<!-- add Section -->
<section id="add_section">
  <div id="add_section_row" class="row">

    <div class="col-4 div_wrap">
        <button id="btn_teams" class="btn btn-sm" (click)="openTeamForm()">Teams</button>
      </div>

    <div class="col-4 div_wrap">
      <button id="btn_sales" class="btn btn-sm" (click)="openSalesCatForm()">Sales Categories</button>
    </div>

    <div class="col-4 div_wrap">
        <button id="btn_services" class="btn btn-sm" (click)="openCustomServiceForm()">Custom Service</button>
      </div>

  </div>

</section>







<!-- Preview section -->
<section id="preview_section" [ngClass]="previewSectionStatus ? '' : 'hide'">

    <!-- List the project and its Tasks-->
    <ul class="list-group">
  
        <div id="service_name">
          <h4>{{namedCustomService}}</h4>
        </div>
        <!-- List of Task -->
        <li class="list-group-item d-flex p-0" *ngFor="let Task of Tasks">
          
          <div class="d-flex col-6 div_wrap">
              <h4 class="">{{Task.taskName}}</h4>
          </div>
  
          <div class="d-flex col-6 div_wrap">
              <h4>{{Task.assignedTeam}}</h4>
          </div>
        
        </li>
  
    </ul>
  
  </section>








<!-- Form Section -->
<section id="customServiceSection" [ngClass]="customServiceSectionStatus ? '' : 'hide'">

    <!-- Define Custom Service -->
  <form id="myCustomServiceForm"  #myCustomServiceForm='ngForm' [formGroup]="customServiceForm" [ngClass]="customServiceFormStatus ? '' : 'hide'">

    <div id="form_header">
      <h4>Add Custom Service</h4>
    </div>

      <div class="form-group">
          <div class="input-group input-group-sm">
    
              <input type="text" #customServiceInput class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
              formControlName="customServiceName" [class.is-invalid]="formCustomService.customServiceName.invalid && formCustomService.customServiceName.touched"
              required placeholder="Customize new Service">
            
          </div>
      </div>


      <div class="form-group">

        <div class="input-group input-group-sm">
  
            <input type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
            formControlName="targetRevenue" min="1" [class.is-invalid]="formCustomService.targetRevenue.invalid && formCustomService.targetRevenue.touched"
            required placeholder="Target Serveice Revenue">
        
          <div class="input-group-append">
            <button [disabled]="!customServiceForm.valid" class="btn btn-sm btm-warning input-group-text" (click)="moveToTaskForm()">Next</button>
          </div>
          
        </div>
      </div>


  </form>

</section>







<!-- Define Tasks Section -->
<section id="addTaskSection" [ngClass]="addTaskSectionStatus ? '' : 'hide'">

  <!-- Define Tasks -->
  <form id="mydefineTaskForm" #mydefineTaskForm='ngForm' [formGroup]="defineTaskForm"  [ngClass]="defineTaskFormStatus ? '' : 'hide'">

      <div id="head">
        <h4>Creating and asigning task to service <span>{{namedCustomService}}</span></h4>
      </div>

      <div class="form-group">
          <input type="text" #taskDefineInput class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
          formControlName="taskName" [class.is-invalid]="formAddTask.taskName.invalid && formAddTask.taskName.touched" required placeholder="Task">
      </div>
  
      <div class="form-group">
          <select type="" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
          formControlName="assignedTeam" [class.is-invalid]="formAddTask.assignedTeam.invalid && formAddTask.assignedTeam.touched"
           required>
       
            <option value="" disabled selected hidden >Asign Team</option>
            <option *ngFor="let Team of Teams" value='{{Team.name}}'>{{Team.name}}</option>
         
          </select> 
      </div>

      <div class="d-flex">
          <button [disabled]="!defineTaskForm.valid" class="btn btn-sm btn-secondary mr-auto" (click)="addAnotherTask()">Save Add Another Tasks</button>
          <button [disabled]="!defineTaskForm.valid" class="btn btn-sm btn-success mx-auto" (click)="saveAndClose()">Save and Close</button>
      </div>

     
  
  </form>


</section>







 <!-- list Add Teams -->
<section id="listAddTeams"  [ngClass]="listAddTeamStatus ? '' : 'hide'">


  <form id="myAddTeamForm" #myAddTeamForm='ngForm' [formGroup]="addNewTeamForm"   class="form">

      <div id="form_header">
          <h4>Teams</h4>
      </div>


    <div class="form-group">
      <div class="input-group input-group-sm">

          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
          formControlName="teamName" [class.is-invalid]="formAddNewTeam.teamName.invalid && formAddNewTeam.teamName.touched" required placeholder="Type">
      
        <div class="input-group-append">
          <button [disabled]="!addNewTeamForm.valid" class="btn btn-sm btm-warning input-group-text" (click)="addTeam()">Add New Team</button>
        </div>

      </div>
    </div>

  </form>

  <ul class="list-group">
      <!-- List of Teams -->
      <li class="list-group-item" *ngFor="let Team of Teams">{{Team.name}}</li>

  </ul>

</section>








 <!-- list Add Sales Categories -->
 <section id="listAddSalesCategory"  [ngClass]="listAddSalesCategoryStatus ? '' : 'hide'">


    <form id="myAddSalesCategoryForm" #myAddSalesCategoryForm='ngForm' [formGroup]="addSalesCategoryForm"   class="form">
  
        <div id="form_header">
            <h4>Sales Stages</h4>
        </div>
  
  
      <div class="form-group">
        <div class="input-group input-group-sm">
  
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
            formControlName="name" [class.is-invalid]="formAddSalesCategory.name.invalid && formAddSalesCategory.name.touched" required placeholder="Type">
        
          <div class="input-group-append">
            <button [disabled]="!addSalesCategoryForm.valid" class="btn btn-sm btm-warning input-group-text" (click)="addSalesCategory()">Add Sales Category </button>
          </div>
  
        </div>
      </div>
  
    </form>
  
    <ul class="list-group">
        <!-- List of Teams -->
        <li class="list-group-item" *ngFor="let SalesCategory of SalesCategorys">{{SalesCategory.name}}</li>
  
    </ul>
  
  </section>
  











</article>

<!-- Article wrap -->
<article id="listArticle" class="col-md-6">









<section id="list_section" [ngClass]="listStatus ? '' : 'hide'">

  <div id="list_title">
     <h4>Our Custom Services</h4>
  </div>

  <div id="custom_service_wrapper">


  <!-- Listing of the Projects and tasks -->
  <ul class="list-group" *ngFor='let Service of Services'>

      <div id="custom_service_name" class="d-flex">
        <h4>{{Service.serviceName}}</h4>
        <button class="btn btn-sm ml-auto" (click)="editCustomService(Service._id)">Edit</button>
      </div>
      
      <!-- List of Task -->
      <li class="list-group-item d-flex p-0" *ngFor='let task of Service.task'>
        
        <div class="d-flex col-6 div_wrap">
            <h4 class="">{{task.taskName}}</h4>
        </div>

        <div class="d-flex col-6 div_wrap">
            <h4>{{task.assignedTeam}}</h4>
        </div>
      
      </li>



  </ul>
  </div>

</section>
</article>




</div>