@import "src/styles.sass"

// ------------------------------------------------

// Title Section
#title_section
    background-color: white
    text-align: left
    padding: .3em 1em .1em 1em
    font-family: Montserrat
    border-bottom: solid 1px grayColor(g300)

    h4
        color: color(nevyBlueTheme)
        font-size: 14px
        font-weight: bold
        text-transform: uppercase
    
    p
        color: color(silk)
        font-family: Montserrat
        font-size: 10px
        padding: 0
        margin: 0






.body_section
    margin: 1em
    background-color: transparent


.addNewClientModal
        .modal-header
            background-color: brandColor(brandSuccess)
            .modal-title
                font-size: 15px
                font-family: Montserrat

                span
                    margin: 0 .5em 0 .5em
                    color: white
                    text-transform: uppercase
               

        .modal-body
            font-size: 12px
            font-family: Montserrat

            .form-group
                padding: .5em
                margin: 0

                .input-group-text
                    font-size: 10px
                    background-color: white
                    border: none

                input
                    background-color: white
                    font-family: Montserrat
                    font-size: 10px
                    color: color(info)
                    border: none
                    border-radius: 5px
                    border-bottom: solid 1px color(secondary)

                
                select
                    background-color: white
                    font-family: Montserrat
                    font-size: 10px
                    color: color(info)
                    border: none
                    border-radius: 5px
                    border-bottom: solid 1px color(secondary)

                    option
                        text-transform: capitalize 

        .modal-footer
            .btn-cancel
                background-color: brandColor(brandSecondary)
                font-size: 10px
                font-family: Montserrat
            .btn-confirm
                background-color: brandColor(brandSuccess)
                font-size: 10px
                font-family: Montserrat




#list_section    
    font-size 11px
    background-color: transparent
    border: none
    padding: 0
    overflow-y: scroll
    
    article
        background-color: transparent
        height: fit-content
        min-width: 250px
        width: 50%
        border: none
        margin: 0 2em 0 0
            

        #head
            background-color: brandColor(brandPrimary)
            margin: 0 0 0 0
            border: none
            box-shadow: 0 0 5px rgba(0,0,0,.3)
            width: 100%         
            height: 40px
            position: relative

            &:before
                content: ''
                position: absolute
                right: -20px
                bottom: 0
                width: 0
                height: 0
                border-left: 20px solid brandColor(brandPrimary)
                border-top: 20px solid transparent
                border-bottom: 20px solid transparent


            &:hover
                button fa
                    opacity: 1
                
                
            
            
            .info-div    
                margin: 4px  
                width: 75% 

                h4
                    margin: 1em 0 auto 3em
                    // color: black
                    font-size: 10px
                    font-weight: bold
                    font-family: Montserrat
                    text-transform: uppercase
                    letter-spacing: 2px

            .form
                margin: 4px  
                width: 75% 

                input
                    font-size: 12px
                    color: grayColor(g700)
                    font-weight: bold
                    font-family: Montserrat
                    background-color: grayColor(g200)



            button
                margin: auto 0 auto 0     
                cursor: pointer

                fa
                    font-size: 11px
                    color: brandColor(brandSecondary)
                    opacity: 0

                fa[name=check]
                    font-size: 16px
                    color: brandColor(brandDark)
                    box-shadow: 0 0 5px rgba(0,0,0,.3)
                    opacity: 1
                

        #totals
            background-color: white
            padding: .5em
            margin: 0 0 0 0
            border: none
            border-top: none
            
            h4
                margin: auto 0 auto 0
                color: color(info)
                font-size: 10px
                font-family: Montserrat
                text-transform: uppercase
                letter-spacing: 2px
                color: grayColor(g500)

                span
                    // text-shadow: 2px 2px 1px rgba(0,0,0,.3)
                    margin: auto .5em auto .5em
                    font-size: 10px
                    font-weight: bold
                    color: color(orangeTheme)
                    cursor: pointer

        #add_deal_div

            .btn
                width: 100%
                background-color: transparent

                &:hover
                    background-color: brandColor(brandInfo)

                fa
                    color: white
                    font-size: 14px

            

        .card-group
            height: fit-content
            min-height: 100px
            padding: 1em 0 0 0
            display: flex
            flex-direction: column
            background-color: transparent
            box-shadow: 0 0 5px rgba(0,0,0,.3)

            &.hovered
                box-shadow: 0 0 5px brandColor(brandPrimary)
                border: solid 1px brandColor(brandPrimary)

            .card
                background-color: white
                padding: .3em
                margin: 0 0 .5em 0 
                border: solid 1px grayColor(g300)
                border-radius: 2px
                cursor: pointer

                &:hover
                    // box-shadow: 0 5px 7px rgba(0, 0, 0, .3)
                    border: solid 2px brandColor(brandPrimary)

                &.hovered-on-drag
                    margin: 100px 0 0 0 

                .clientN
                    font-family: Montserrat
                    font-size: 10px
                    color: color(primary)
                    text-transform: uppercase

                .projectN
                    font-family: Montserrat
                    font-size: 10px
                    color: color(secondary)
                    text-transform: capitalize
                    

                .cost
                    font-family: Montserrat
                    font-size: 10px
                    color: color(silk)
                
                .rateWarp
                    font-size: 10px
                    color: gray

                    .rateColor
                        color: color(orangeTheme)               


