<!-- Title -->
<section id="title_section">
  <h4>Sales</h4>
  <p>Creates and lists Incoming Projects </p>
</section>

<!-- ------ -->
<hr id="header_line">

<!-- List Section -->
<section id="list_section" class="card-group">


  <!-- Clients Target -->
  <div id="target_clients" class="card">
    
    <!-- Head Title -->
    <div id="head" class="clearfix pl-2 pr-4">
        <h4 class="float-left">Target Clients</h4>
        <fa id="addClientTargetToggler"name="plus" class="float-right" (click)="toggleTargetClient()"></fa>
   </div>
  
   <hr>

   <!-- Input Form -->

   <form id="myAddClientForm" #myAddClientForm='ngForm' [formGroup]="targetClientForm" class="form" [ngClass]="targetClientFormStatus ? 'hide' : ''">

      <!-- Client Name -->
      <div class="form-group">
          <div class="input-group input-group-sm mb-3">

              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Client Name</span>
              </div>

              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
              formControlName="clientName" [class.is-invalid]="formClientTarget.clientName.invalid && formClientTarget.clientName.touched" required>

        </div>

      </div>

      <!-- Projects Type -->
      <div class="form-group">
          <div class="input-group input-group-sm mb-3">

              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Project Type</span>
              </div>


              <select type="" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
              formControlName="projectType" class="form-control" [class.is-invalid]="formClientTarget.projectType.invalid && formClientTarget.projectType.touched" required>

                <option value='branding'>Branding</option>
                <option value='business development'>Busines Dev</option>
                <option value='digital training'>Digital Training</option>
                <option value='ERP'>ERP</option>
                <option value='SEO task'>SEO Task</option>
                <option value="social media">Social Media</option>
                <option value="website">Website</option>
                  
              </select> 

        </div>
      </div>

      <!-- Buttons -->
      <div class="clearfix pl-2 pr-4">
          <button [disabled]="!myAddClientForm.valid" class="btn btn-sm btn-success float-left" (click)="submitNewTargetClient()">Save</button>
          <button class="btn btn-sm btn-secondary float-right" (click)="clearNewTargetForm()">Cancel</button>
     </div>


   </form>


   <!-- List Of Added Clients Targets -->

   <div id="targetClientCardGroup">

    <!-- Cards -->

        <div id="targetClientCard" (click)="toSalesEdit()" *ngFor="let targetClient of targetClients">

              <h4 id="projectT">{{ targetClient.projectType}}</h4>
              <h4 id="clientN">{{ targetClient.clientName}}</h4>

              <div id="rateWarp" class="clearfix">
                  <fa id="rate1" name="star" class="rateColor"></fa>
                  <fa id="rate2" name="star" class=""></fa>
                  <fa id="rate3" name="star" class=""></fa>
                  <!-- <fa id="edit" name="pencil" class="float-right text-warning" ></fa> -->
              </div>

        </div>

    </div>

</div>





  <!-- Proposed Leads -->

  <div id="proposed_leads" class="card">

      <div class="clearfix pl-2 pr-4">
          <h4 class="float-left">Proposed Leads</h4>
          <fa name="plus" class="float-right"></fa>
     </div>

  </div>







  <!-- Qualified Leads -->
  <div id="qualified_leads" class="card">

    <div class="clearfix pl-2 pr-4">
      <h4 class="float-left">Qualified Leads</h4>
      <fa name="plus" class="float-right"></fa>
    </div>

  </div>







  <!-- Closed -->
  <div id="closed_leads" class="card">

    <div class="clearfix pl-2 pr-4">
      <h4 class="float-left">Closed</h4>
      <fa name="plus" class="float-right"></fa>
    </div>
    
  </div>


</section>

