@import "src/styles.sass"


// ------------------------------------------------

// Title Section
#title_section
    background-color: white
    text-align: left
    padding: .3em 1em .1em 1em
    font-family: Montserrat
    border-bottom: solid 1px grayColor(g300)

    h4
        color: color(nevyBlueTheme)
        font-size: 14px
        font-weight: bold
        text-transform: uppercase
    
    p
        color: color(silk)
        font-family: Montserrat
        font-size: 10px
        padding: 0
        margin: 0






.body_section
    margin: 1em
    background-color: transparent






#form_section
    display: flex
    flex-direction: column
    align-items: flex-left


    form.hide
        background-color: transparent
        // margin-bottom: -120px
        height: 0
        -webkit-transition: all 0.5s // For Safari 3.1 to 6.0 
        transition: all 0.5s
        opacity: 0
        z-index: -1

    form
        min-width: 200px
        max-width: 350px
        height: fit-content
        -webkit-transition: all 0.5s // For Safari 3.1 to 6.0 
        transition: all 0.5s
        background-color: white
        border: solid 1px grayColor(g300)
        border-radius: 2px
        margin: 0 0 .5em 0

        .form-title
            background: brandColor(brandSecondary)
            padding: .5em
            h4
                font-size: 12px
                font-family: Montserrat
        
        .form-group
            padding: .5em
            margin: 0

            .input-group-text
                font-size: 10px
                background-color: white
                border: none

            input
                background-color: white
                font-family: Montserrat
                font-size: 10px
                color: color(info)
                border: none
                border-radius: 5px
                border-bottom: solid 1px color(secondary)

            
            select
                background-color: white
                font-family: Montserrat
                font-size: 10px
                color: color(info)
                border: none
                border-radius: 5px
                border-bottom: solid 1px color(secondary)

                option
                    text-transform: capitalize

        .btn-wrap
            margin: 0
            padding: .5em

            button
                font-size: 10px
                font-family: Montserrat
                box-shadow: 0 0 10px rgba(0,0,0,.3)
                text-transform: uppercase
                color: white






#list_section    
    font-size 11px
    background-color: transparent
    border: none
    padding: 0
    overflow-y: scroll
    // box-shadow: 0 0 5px rgba(0,0,0,.3)
    
    article
        background-color: transparent
        height: fit-content
        min-width: 250px
        width: 50%
        border: none
        margin: 0 2em 0 0
        // box-shadow: 0 0 5px rgba(0,0,0,.3)
            

        #head
            background-color: white
            padding: .5em
            margin: 0 0 0 0
            border: none
            border-top: solid 3px color(nevyBlueTheme)
            box-shadow: 0 0 5px rgba(0,0,0,.3)
            
            
            h4
                margin: auto 0 auto 0
                color: color(info)
                font-size: 10px
                font-weight: bold
                font-family: Montserrat
                text-transform: uppercase
                letter-spacing: 2px


            fa
                margin: auto 1em auto 1em
                font-size: 11px
                color: color(nevyBlueTheme)
                cursor: pointer

        #totals
            background-color: white
            padding: .5em
            margin: 0 0 0 0
            border: none
            border-top: none
            
            h4
                margin: auto 0 auto 0
                color: color(info)
                font-size: 10px
                font-family: Montserrat
                text-transform: uppercase
                letter-spacing: 2px
                color: grayColor(g500)

                span
                    // text-shadow: 2px 2px 1px rgba(0,0,0,.3)
                    margin: auto .5em auto .5em
                    font-size: 10px
                    font-weight: bold
                    color: color(orangeTheme)
                    cursor: pointer

        .dropSpace
            border: none
            text-align: center
            color: gray
            opacity: .1
            font-size: 12px
            padding: .5em
            background-color: whitesmoke
            

        .card-group
            height: fit-content
            z-index: 1
            display: flex
            flex-direction: column
            background-color: transparent
            // box-shadow: 0 0 5px rgba(0,0,0,.3)

            .card
                background-color: white
                padding: .3em
                margin: 0 0 .5em 0 
                border: solid 1px grayColor(g300)
                border-radius: 2px
                cursor: pointer

                &:hover
                    box-shadow: 0 5px 7px rgba(0, 0, 0, .3)

                #clientN
                    font-family: Montserrat
                    font-size: 10px
                    color: color(primary)
                    text-transform: uppercase

                #projectN
                    font-family: Montserrat
                    font-size: 10px
                    color: color(secondary)
                    text-transform: capitalize
                    

                #cost
                    font-family: Montserrat
                    font-size: 10px
                    color: color(silk)
                
                #rateWarp
                    font-size: 10px
                    color: gray

                    .rateColor
                        color: color(orangeTheme)

                        
                    


