<!-- Title -->
<section id="title_section">
  <h4>Sales</h4>
  <p>Creates and lists Incoming Projects </p>
</section>






<!-- Body Section -->
<section class="body_section">





<section id="form_section">

   <!-- Input Form -->

   <form id="myNewClientForm" #myNewClientForm='ngForm' [formGroup]="newClientForm" class="form" [ngClass]="FormStatus ? '' : 'hide'">

    <div class="form-title">
          <h4>New Lead Form</h4>
    </div>

    <!-- Client Name -->
    <div class="form-group">
        <div class="input-group input-group-sm mb-3">

            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Client Name</span>
            </div>

            <input #clientInput type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
            formControlName="clientName" [class.is-invalid]="formNewClient.clientName.invalid && formNewClient.clientName.touched" required>

      </div>

    </div>








    <!-- Projects Type -->
    <div class="form-group">
        <div class="input-group input-group-sm mb-3">

            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Project Type</span>
            </div>


            <select type="" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
            formControlName="projectName" class="form-control" [class.is-invalid]="formNewClient.projectName.invalid && formNewClient.projectName.touched" required>
                <option value="" disabled selected hidden >Choose Project</option>
                <option *ngFor="let Project of Projects" value='{{Project.serviceName}}'>{{Project.serviceName}}</option>
                
            </select> 

      </div>
    </div>







    <!-- Buttons -->
    <div class="clearfix btn-wrap">
        <button [disabled]="!newClientForm.valid" class="btn btn-sm btn-success float-left" (click)="submitNewClientForm()">Save</button>
        <button class="btn btn-sm btn-secondary float-right" (click)="clearNewClientForm()">Cancel</button>
   </div>


 </form>





</section>





<!-- List Section -->
<section id="list_section" class="d-flex">




  <!-- Sales Category Card-->
  <article *ngFor='let SalesCategory of SalesCategorys' [id]="SalesCategory._id"
   (dragover)="allowDrop($event)" (drop)="drop($event)">
    
    <!-- Head Title -->
    <div id="head" class="clearfix">
        <h4 class="float-left">{{SalesCategory.name}}</h4>
        <fa name="plus" class="float-right" (click)="toggleFormInput(SalesCategory.name)"></fa>
   </div>

   <div [id]="SalesCategory._id" class="dropSpace border border-primary">
     Drop here
   </div>


   <!-- List Of Added Clients Targets -->

   <div class="card-group">

    <!-- Cards -->

        <div draggable="true" class="card" *ngFor="let Opportunity of Opportunitys" [id]="Opportunity._id" (click)="toSalesEdit(Opportunity._id)" 
        (drop)="drop($event)" (dragover)="allowDrop($event)" (dragstart)="drag($event)"  [hidden]="Opportunity.projectStatus != SalesCategory.name">

              <h4 id="clientN">{{ Opportunity.clientName}}</h4>
              <h4 id="projectN">{{ Opportunity.projectName}}</h4>
              <h4 id="cost">$: {{ Opportunity.cost}}</h4>

              <div id="rateWarp" class="clearfix">
                  <fa id="rate1" name="star" [ngClass]="Opportunity.priority >= '1' ? 'rateColor' : ''"></fa>

                  <fa id="rate2" name="star" [ngClass]="Opportunity.priority >= '2' ? 'rateColor' : ''"></fa>
                  <fa id="rate3" name="star" [ngClass]="Opportunity.priority >= '3' ? 'rateColor' : ''"></fa>
              </div>


        </div>

    </div>

</article>


</section>


<!-- End of Body Section -->
</section>