// Global Color Themes

/* Breakpoints: xs: 0,  sm: 576px; md: 768px; lg: 992px; xl: 1200px; */
$colors: ( nevyBlueTheme: #030451, orangeTheme: #F28500, gray: #6c757d, gray-dark: #343a40, secondary: #6c757d, success: #28a745, info: #17a2b8, warning: #ffc107, danger: #dc3545, dark: #35424a, silk: #7D7D7D )

// Color function
@function color($color-name) 
    @return map-get($colors , $color-name)


// Page Sizes
$desktop: 768px
$opacity: .9

// Responsiveness
@mixin desktop
    @media (min-width: #{$desktop}) 
        @content
    


// ------------------------------------------------




#title_section
    font-size: 13px
    background-color: transparent
    border-radius: 10px
    border-top: solid 2px color(nevyBlueTheme)
    

#list_section    
    font-size 11px
    background-color: transparent

    #target_clients
        background-color: transparent
        
        #head
            
            h4
                color: black
                font-size: 11px
                font-family: Montserrat
            fa
                font-size: 11px
                color: red

        form
            background-color: white
            border-radius: 10px
            padding: 3px
            margin: 0 0 .5em 0
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1)
            
            input
                background-color: whitesmoke

    #proposed_leads
    
        h4
            font-size: 11px
            font-family: Montserrat
        fa
            font-size: 11px
            color: blue
    
    #qualified_leads
        
        h4
            font-size: 11px
            font-family: Montserrat
        fa
            font-size: 11px
            color: blue

    #closed_leads
        
        h4
            font-size: 11px
            font-family: Montserrat
        fa
            font-size: 11px
            color: blue
 


