
<header class="sticky-top">

  <nav id="navbar" class="navbar navbar-expand-md navbar-light">

      <a class="navbar-brand">
        <fa id="sideBarToggler" class="" (click)="toggleSideBar()" name="{{sideBarStatus ? 'bars' : 'angle-double-left'}}"></fa>
        <img src="../../../assets/images/logo.png">
      </a>

      <button class="navbar-toggler btn-outline-info" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarResponsive">

          <ul class="navbar-nav nav-pills ml-auto">

              <li class="nav-item"><a href="#" data-target="#" class="nav-link">News</a></li>
              <li class="nav-item"><a href="#" data-target="#" class="nav-link">Chats</a></li>
              <li id="user_dropdown" class="nav-item dropdown">

                  <a href="#" class="nav-link " data-toggle="dropdown">
                      <fa name="user"></fa>
                  </a>

                  <div class="dropdown-menu">
                        <h4 id="loggedUser" class="dropdown-item">{{loggedUserName}}</h4>
                        <hr>
                        <a id="editProfile" class="dropdown-item">Edit Profile</a>
                        <hr>
                        <a id="logout" class="dropdown-item" (click)="logout()" >LogOut</a>
                  </div>

              </li>

          </ul>

        </div>



  </nav>

</header>





<!-- Sidebar -->
<nav id="sidebar" class="" [ngClass]="sideBarStatus ? 'active' : ''">

    <ul class="navbar-nav nav-pills">

      <li class="nav-item active">
        <a (click)="navToProjects()" [ngClass]=" projectsNavBarActive ? 'nav-link active' : 'nav-link'">
          <fa-icon [icon]="faProjectDiagram"></fa-icon>Projects
        </a>
      </li>


      <li class="nav-item">
        <a (click)="navToSales()"  [ngClass]=" salesNavBarActive ? 'nav-link active' : 'nav-link'">
          <fa-icon [icon]="faShoppingCart"></fa-icon>Sales
        </a>
      </li>


      <li class="nav-item" [hidden]="isNotAdmin">
        <a (click)="navToProjTaskTeam()" [ngClass]=" editorialNavBarActive ? 'nav-link active' : 'nav-link'">
          <fa-icon [icon]="faEdit"></fa-icon>Editorial
        </a>
      </li>

      
      <li class="nav-item" [hidden]="isNotAdmin">
        <a (click)="navToRegister()" [ngClass]=" usersNavBarActive ? 'nav-link active' : 'nav-link'">
          <fa-icon [icon]="faUsers"></fa-icon>Users
        </a>
      </li>
    
    
    </ul>

</nav>



<!--  Main Section -->

<main id="main" class="" [ngClass]="sideBarStatus ? 'expand' : ''">

    <router-outlet></router-outlet>

</main>


