// Global Color Themes

$colors: ( nevyBlueTheme: #030451, orangeTheme: #F28500, gray: #6c757d, gray-dark: #343a40, secondary: #6c757d, success: #28a745, info: #17a2b8, warning: #ffc107, danger: #dc3545, dark: #35424a, silk:#7D7D7D )

// Color function
@function color($color-name) 
    @return map-get($colors , $color-name)

// Page Sizes

// Breakpoints: xs: 0,  sm: 576px; md: 768px; lg: 992px; xl: 1200px; 

// Extra small    
$desktop_xm: 576px

@mixin desktop_xm
    @media (min-width: #{$desktop_xm}) 
        @content
    
// Small
$desktop_sm: 576px

@mixin desktop_sm
    @media (min-width: #{$desktop_sm}) 
        @content
    
// Medium
$desktop: 768px

@mixin desktop
    @media (min-width: #{$desktop}) 
        @content
    
// Large
$desktop_lg: 576px

@mixin desktop_lg
    @media (min-width: #{$desktop_lg}) 
        @content
    
// Extra large
$desktop_xl: 576px

@mixin desktop_xl
    @media (min-width: #{$desktop_xl}) 
        @content
    

// Header
header
    background-color: color(nevyBlueTheme)
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3)
        // Navbar
    #navbar
        background-color: whitesmoke
        padding: 0 4em 0 4em
        height: fit-content

        @include desktop
            height: 40px
            
        .navbar-brand
            padding: 0
            cursor: default

            #sideBarToggler
                cursor: pointer
                color: color(orangeTheme)
            
            img
                width: 5rem
                
        .nav-pills
            padding: 0

            li
                font-size: 10px
                font-family: Montserrat
                a
                    color: black

                    &.active
                        background-color: color(info) !important
                        color: #000000 !important

                    &:hover
                        color: color(orangeTheme) !important
                        font-weight: bold !important
                        text-decoration: underline !important

            //    Programme dropdown
            #programme_dropdown
                font-family: Montserrat
                a
                    &:hover
                        text-decoration: none !important
                        font-weight: bold
                        color: color(orangeTheme)!important
                        text-decoration: underline !important
            
                    &.active
                        background-color: color(orangeTheme) !important
                        color: white !important

                .dropdown-menu:hover, a:hover + .dropdown-menu
                    display: block
                                                    
                .dropdown-menu
                    background-color: color(info)
                    display: none

                    @include desktop
                        background-color: color(info)
                        top: 5.5em
                        transform: translate(-50%, -50%)
                        display: none
        
                

                // User Dropdown
            #user_dropdown
                font-family: Montserrat

                a
                    color: black
                    text-transform: lowercase
                    text-transform: capitalize
                    text-align: center
                    font-weight: bolder
                    font-family: Montserrat
                    font-size: 10px
                    text-shadow: 5px 5px 3px rgba(0, 0, 0, .1)

                    &:hover
                        cursor: pointer
                        color: color(orangeTheme)!important
                
                .dropdown-menu:hover, a:hover + .dropdown-menu
                    display: block
                                                        
                .dropdown-menu
                    background-color: color(info)
                    display: none

                    @include desktop
                        background-color: color(info)
                        top: 5em
                        transform: translate(-50%, -50%)
                        display: none
                
                    #loggedUser
                        cursor: default
                        color: color(orangeTheme)
                        text-align: center
                        font-size: 12px
                        font-family: Montserrat
                        font-weight: bolder
                        text-transform: capitalize
                        text-shadow: 5px 5px 3px rgba(0, 0, 0, .3)
                    
                        &:hover
                            background-color: color(info) !important

                    a
                        color: black
                        text-transform: lowercase
                        text-transform: capitalize
                        text-align: center
                        font-weight: bolder
                        font-size: 12px
                        font-family: Montserrat
                        text-shadow: 5px 5px 3px rgba(0, 0, 0, .1)

                        &:hover
                            cursor: pointer
                            background-color: color(orangeTheme) !important
                            color: white!important
                        
                    hr
                        margin: 0
                    
                        

// Side Bar Active
#sidebar.active
    margin-left: -130px
    transform: rotateY(100deg)

    @include desktop
        margin-left: -15%

    

// Side Bar
#sidebar
    width: 130px
    position: fixed
    top: 40px
    left: 0
    height: 100%
    z-index: 0
    background: color(nevyBlueTheme)
    color: #fff
    transition: all 0.6s

    @include desktop
        width: 15%

    .nav-pills
        margin: 0 1em 0 1em !important
        padding: 0

        li
            font-size: 12px
            font-family: Montserrat
            a
                cursor: pointer
                color: white
                font-size: 12px
                font-family: Montserrat

                &.active
                    background-color: color(info) !important
                    color: #000000 !important

                &:hover
                    color: white !important
                    font-weight: bold !important
                    text-decoration: underline !important



// Main
main
    max-width: 100%
    margin: 0px 0px 0px 130px
    padding: .5em
    transition: all 0.6s
    overflow: hidden
    font-family: Montserrat

    @include desktop
        margin: 0px 0px 0px 15%

// main Toggle Class    
main.expand
    margin: 0
    padding: .5em
    font-family: Montserrat





