#mainBody
  // width: max-content
  background-color: whitesmoke
  font-family: Montserrat
// ===========================================

// TOASTR BUG FIX 

.toast-custom-one
    top: 25%
    left: 50%
    transform: translate(-50%, -50%)

#toast-container > div 
    opacity: 1

.toast 
    // font-size: initial !important
    font-size: 12px !important
    font-family: Montserrat !important
    border: initial !important
    backdrop-filter: blur(0) !important

.toast-success 
    background-color: #51A351 !important


.toast-error 
    background-color: #BD362F !important

.toast-info 
    background-color: #2F96B4 !important

.toast-warning 
    background-color: #F89406 !important



